<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="/WEB-INF/templates/default.xhtml">
    <ui:define name="content">
        <h1>#{msg['title']}</h1>

        <p>#{msg['main_paragraph']}</p>

        <h:form id="reg">
            <h2>#{msg['title']}</h2>
            <p><h:outputLabel for="content" value="#{msg['content']}:"/></p>
            <div id="entry">
            	<h:inputTextarea id="content" value="#{newLogEntry.content}" cols="120" rows="5"/>
            	<br></br>
                <h:message for="content" errorClass="invalid"/>
            </div>
            <p>
                <h:commandButton id="creator_btn" action="#{logEntryBean.create}" value="#{msg['create']}"/>
                <h:outputText value="#{msg['created']}" rendered="#{facesContext.postback and empty facesContext.messageList}" style="color: green;"/>
            </p>
        </h:form>
        <h2>#{msg['log_entries']}:</h2>
        <h:panelGroup rendered="#{empty logEntries}">
            <em>#{msg['no_log_entries']}</em>
        </h:panelGroup>
        <h:dataTable var="entry" value="#{logEntries}" rendered="#{not empty logEntries}" id="log_entry_table">
            <h:column rendered="false">
                <f:facet name="header">Id</f:facet>
                #{entry.id}
            </h:column>
            <h:column>
                <f:facet name="header">#{msg['content']}</f:facet>
                #{entry.content}
            </h:column>
            <f:facet name="footer">
                #{msg['rest_log_entries']} <a href="#{request.contextPath}/rest/logentries">/rest/logentries</a>
            </f:facet>
        </h:dataTable>
    </ui:define>
</ui:composition>
